body{
    margin:0;
    padding:0;
}

#menu {
    height:75px;
   
}

#menu ul{
    font-family: Arial;
}

#menu a{
    color: black;
    float: center;
    margin-left: 20px;
    
    
}

#navbar{
    float:right;
}


#contenu{
    background-color:#FFDB00;
    padding-top:50px;
    padding-bottom: 50px;
}
    
    


button #hamburger{
    align-items: flex-start;
    text-align: center;
    cursor: defaut;
    color: buttontext;
    background-color: buttonface;
    box-sizing: border-box
    
}

#contenu{
    text-align: center;
   
}

p{
    text-align: center;
    font-weight: bold;

}

#hamburger img{
    width:26px;
    height:26px;
  

}

h2{
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 500px;

    
}

#footer{
    background-color: #262626;
    overflow: hidden;
    height: 300px;
}

div#footer{
    color: #FFDB00;
    padding-top : 50px;
}
#footer ul a{
    color:#fff;
}

li{
    list-style:none;
    text-decoration:none;
}

#navbar li {
display : inline;
margin : 0 15px;
display : inline-block;
    
    
    
}

div#colonne1 a{
    margin-left: 140px;
    color:white;
    
    
    
}

div#footer2 a{
    color:grey;
    
}

#adresse{
    margin-top:-1px;
    color: white;
}

#copyright{
    color:grey;
    font-size: 9px;
}


div#Follow {
    color: white;
    font-family: Arial;
    margin-top:-300px;
    text-align: right;
    
}
    
    