body{
    margin:0;
    padding:0;
    background-color: #cf4646;
    color:white;
    
}


#navbar{
    list-style-type: none;
    text-align: center;
    color: white;

    }
    
a{
    color: white;
    font-family: "Open Sans", sans-serif;
    padding-left:20px;
}

li{
    display: inline;

}

img{
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  height: auto;
  margin-top: 130px;
}


h1{
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 41px;
    font-weight: 300;
}

h2{
    color:black;
    font-family: "Open Sans", sans-serif;
    font-size: 21px;
    font-weight: 500;
}

p{
    color:#7f8c8d;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 16px;
    
}

.footer1{
    background-color: white;
}

